{% extends 'jobs_search/base.html'%}
{% block body%}
    <h1 style="text-align: center;">Add New Offer</h1>
    <br>
    <br>
    <div  class="ui raised very padded text container segment">
        <form action="" method="post" enctype="multipart/form-data" class="ui form">
            {% csrf_token%}
            {% include 'jobs_search/form-template.html'%}
            <br>
            <br>
            <button class="positive ui big button" type="submit" style="margin-left: 40%">ADD</button>
        </form>
    </div>
{% endblock%}
