<!-- <div class="ui grid" style="margin-left:30px; margin-right:30px"> -->
    {% for field in form%}



    <div class="field">
        <label>{{ field.label_tag}}</label>
        {{field}}
      </div>
      <br>





    <!-- <div class="three wide column"></div>
    
    <div class="three wide column">
        <label>
            <strong>{{ field.label_tag}}</strong>
        </label>
    </div>

    <div class="seven wide column">
        {{field}}
    </div>

    <div class="three wide column"></div> -->



    {% endfor%}
<!-- </div> -->
