{% extends 'jobs_search/base.html'%}
{% block body%}
    <h1 style="text-align: center;">Sign In</h1>
    <br>
    <br>
    <div style="margin-left:30px; margin-right:30px">
        <form action="" method="post" enctype="multipart/form-data" class="ui form">
            {% csrf_token%}
            {% include 'jobs_search/form-template.html'%}
            <br>
            <br>
            <button type="submit" class="positive ui compact labeled icon big button" type="submit" style="margin-left: 50%"><i class="user icon"></i>Sign in</button>
        </form>
    </div>
{% endblock%}
